html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Concept';
  font-weight: 100;
}

.container {
  margin: 0 auto;
  max-width: 1000px; 
  padding: 0 10px;
}
.container p {
	font-family: 'Aerial';
	text-transform:uppercase;	
}
.container a {
	text-decoration: none;	
	color:yellow;
}
.nav a:visited{
	color:lightblue;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160;
  box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align:center;
}

.dropdown-content li {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {background: red;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .container {background-color: blue;}


.header {
  background: url("hero_optimized.jpg") no-repeat center center; 
  background-size: cover;
  height: 600px;
  text-align: center;   
}

.header .container {
  position: relative;
  top: 200px;
}

.header h1 {
  color: #fff;
  line-height: 100px; 
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase; 
}

@media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
} /* responsive za veb stranicu
     kada se smanjuje veličina ekrana smanjuje se i sadržaj*/
.header p {
  color: #fff;
  font-weight: 400;
  letter-spacing: 8px;
  margin-bottom: 40px;
  margin-top: 0;
  text-transform: uppercase; 
}

.btn {
  color: #FFD700;
  background: #C02A0A;
  padding: 10px 40px;
  text-decoration: none; 
  font-family:'Debute';
}

.nav { 
  top: 0;
  background: #000;
  height: 80px; 
  width: 100%;
  font-family: 'Debute';
  position: -webkit-sticky;
  position: sticky;
  
}

.nav ul {
  list-style: none;
  margin: 0 auto; /*auto - postavlja element centrirano u horizontali*/
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
  
}

.btn:hover, .nav ul li:hover {
  background: #A0F7AF;
  cursor: pointer; 
  transition: background .5s;  /*promena boje pozadine za btn i nav meni koja traje 5 sekundi*/
}

.main .container {
  margin: 70px auto;  
}

.main iframe {
  float: left;
  margin: 50px 80px 50px 0;
}
div.main a {
	color:green;
	font-size:80%;
}
div.main p{
	text-align: justify;
}

.jumbotron {
  background: url(https://cdn.hoelangishetvliegen.nl/photostore/24905295.jpg);
  background-size: cover;
  height: 600px; 
}

.cont {
  margin: 100px 100px;
  max-width: 500px; 
  padding: 20px 10px;
  font-family: 'Aerial';
  text-transform:uppercase;
  font-size: 110%;
  background-color: #ffffff;
  opacity: 0.7;
  filter: alpha(opacity=00);
}
div.cont h2, div.cont p{
  font-weight: bold;
  color: #000000;
}
div.cont h2{
	font-family:'Debute';
	background-color: red;
	color: white;
	padding: 20px 20px;
}

.jumbotron .cont {
  position: relative;
  top: 60px;
}

.jumbotron .btn {
  margin: 10px 0 0;
  float: left; 
}

.footer { 
  background: #000;
  height: 80px; 
  padding-bottom: 50px;
}

.footer p { 
  color: #fff;
  font-size: 25px;  
  height: 80px; 
  line-height: 80px;
  margin: 0 ; 
  padding: 20px;
}

@media (max-width: 500px) { /*širina ekrana koja se zadaje za responsive*/
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 100px;
  }

  .main iframe {
    width: 100%;
  }
}/* responsive za veb stranicu
     kada se smanjuje veličina ekrana smanjuje se i sadržaj*/
